.margenB{
    margin-bottom: 100px;
    margin-top: 10px;
}


.fotoLista{
    height:50px; 
    width:50px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.30);
     box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.30);
}

.hrPersonla{
  max-width: 100%;
}
.fotoind{
  height:200px; 
  width:200px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.30);
   box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.30);
}



.footer{
    position:absolute;
    width: 100%;
}

.textareaAncho{
  width: 100%;
  border: none;
  background: transparent;
}


.pagination ul li{
    float: left;
    padding: 10px;
    list-style: none;
    width: auto;
    margin: 0 auto;
}

.pagination a, .current, .disabled
{
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
  color: #111;
}

span
{
  float: left;
  padding: 1px 14px ;
  line-height: 34px;
  text-decoration: none;
  /* border: 1px solid #ddd; */
  border-left-width: 0;
  color: #fff;
  background: #212529;
}

.pagination *:first-child {
  border-left-width: 1px;
  -webkit-border-radius: 0px 0 0 0px;
  -moz-border-radius: 0px 0 0 0px;
  border-radius: 0px 0 0 0px;
}
.pagination *:last-child {
  -webkit-border-radius: 0 0px 0px 0;
  -moz-border-radius: 0 0px 0px 0;
  border-radius: 0 0px 0px 0;
}

 .pagination ul{
    text-align: center;
    margin-top: -40px;